<div class="hero">
  <div class="right">
    <div class="frosty">
      <h2>Track your workouts effortlessly and increase your motivation!</h2>
    </div>
  </div>
</div>

<br />
<br />

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Log Workouts</h4>
        <p>Add your workout data each and every time you work out. Tracking your progress allows you to find and stay on the right path to fitness.</p>
    </div>
    <div class="col">
      <h4>Find Motivation</h4>
        <p>Battling workout boredom, weight loss plateaus, or injuries? Overcome any obstacle on your path to fitness with inspiring quotes as instant motivators.</p>
    </div>
  </div>
</div>