<br />
<br />
<h3>Take your fitness to the next level with these intense-yet-inspiring words</h3>
<br />

<h1><%= @motivation.quote %><h1>
<h2><%= @motivation.comment %></h2>

<br class="clear" />
<br />
<br />

 <h3><%= link_to "I'd like to add a quote", new_motivation_path %></h3>
<br />
